.night-mode {
  background: $night-mode-background;
  //sets the color for the iA-Writer menu
  color: $night-mode-color;

  .markdown-body{
    //Preview text colour
    color: $night-mode-color;

    a {
      color: $night-mode-color;
    }

  }
}