//Typography
$font-stack: Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$text-color: #333;
$line-height: 1.5;
$font-size: 10pt;

//Print
$print-font-size: 6pt;
$print-margin: 2cm;