//HTML element
$html-background-color: #fff;
$html-color: #1a2933;


//Typography
$font-stack: Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$text-color: #333;
$line-height: 1.5;
$font-size: 10pt;

//Print
$print-font-size: 6pt;
$print-margin: 2cm;


//Night-mode
$night-mode-color: #e6e6e6;
$night-mode-background: #1f2932;


//Lists
$list-padding-start: 12pt;