@import "ia/normalise";
@import "ia/core";
@import "variables";
@import "nightmode";
@import "header";
@import "footer";
@import "images";
@import "screen_padding";

html{
  background: $html-background-color;
  color: $html-color;
}

.markdown-body{
  color: $text-color;
  font-family: $font-stack;
  font-size: $font-size;
  line-height: $line-height;
  word-wrap: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
  @import "table";

  ul, ol {
    margin-top: 0;
    -webkit-padding-start: $list-padding-start;
    list-style-type: square;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    page-break-after: avoid;
  }

  h1{
    font-weight: 100;
    text-align: center;
  }

  h2{
    margin-top: 2rem;
    border-bottom: 1px solid;
    margin-bottom: 0.5em;
  }

  p{
    margin-top: 0;
    page-break-inside: avoid;
  };

  a{
    color: $text-color;
    text-decoration: none;
  }

}
